.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-container {
  width: 150px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}

.MuiCardContent-root {
  background-color: black;
}

.MuiSelect-root {
  color: white;
}

.MuiInputBase-input {
  color: white !important;
  border: 3px solid #eee !important;
  border-radius: 20px !important;
  min-width: 100px !important;
  text-align: center !important;
  transition: background-color 0.5s;
}

.MuiInputBase-input:focus {
  outline: none !important;
}

.MuiInputBase-input:hover {
  background-color: black;
  outline: none !important;
}

.MuiSelect-select {
  color: white !important;
}

.MuiSelect-icon {
  color: white !important;
}
